@import '../../../styles.scss';

  a {
    font-size:pxtorem(25px);
    color: #0bd;
    text-decoration: none;
  }
  .tooltip {
    display: inline;
    position: relative;
  }
  .tooltip:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: $primary;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: pxtorem(-82px) auto 0;
    font-size: pxtorem(16px);
    padding: pxtorem(13px);
    width: pxtorem(220px);
  }
  .tooltip:hover:before{
    border: solid;
    border-color: #d31aa5 transparent;
    border-width: pxtorem(12px) pxtorem(6px) 0 pxtorem(6px);
    content: "";
    left: 45%;
    bottom: 30px;
    position: absolute;
  }