<router-outlet></router-outlet>
<!-- <app-menu></app-menu>

    <app-card *ngFor="let card of cards"></app-card> -->
   <span>{{cowsData | json }}</span> <br>
   <!-- <span *ngIf="errorBlock">
       Error: {{erroMsg}}
    </span> -->
    <br><br>
    <app-alert></app-alert>
    <button (click)="onclickAlert()">Clique</button>
    <app-button type="button" description="teste" (callFunction) ="onclickAlert()"></app-button>

<!-- PARA FAZER O TEMPLATE: https://www.techiediaries.com/angular-http-client/ -->