.page{
    width: 70%;
    height: 100%;
    padding: 0;
    background-color: #e2e26e;
    margin-left: 350px ;
    animation-name: fade;
    animation-duration: 1s;
    margin-top: 10px;
    border-top-right-radius: 150px;
    border-top-left-radius: 9px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translate(-35%);
    }
    to{
     opacity: 1;
     transform: translate(0%);
    }
}