<header class="container">
  <div class="logo">
    <img src="../../../../../assets/imgs/logo.jpg" alt="">
  </div>
  <nav class="">
    <ul class="main_menu">
      <li *ngFor="let item of navItems">
       
        <a class="main-click" [routerLink]="[item.url]" routerLinkActive="router-link-active">
          <i class="icon" [class]="item.icon">{{ item.title}}</i>
        </a>
        <!-- <span *ngFor="let child of item.children">
                          {{child.title}}
                      </span> -->
      </li>
    </ul>
  </nav>
</header>

<!-- TODO: construir um menu mobile -->